<div class="main-conatiner">
  <header class="main-heading">
    <div class="dark-theme-button-container">
      <span class="dark-theme-icon">
        <i class="fa fa-moon"></i>
      </span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </header>
  <div class="main-content">
    <span>
      <h1 class="portfolio-name">Hello!</h1>
      <img src="../../assets/images/hola.png" class="hola-image">
    </span>
    <div>
      <h2 class="protfolio-profile">I'm Mohini Mulik</h2>
      <h2 class="protfolio-profile">Front End Developer | Backbase Front End Developer</h2>
    </div>
    <div class="portfolio-image-conatiner">
      <a href="https://www.linkedin.com/in/mohini-mulik-0005a8103/" target="_blank" rel="noopener">
        <i aria-hidden="true" class="fab fa-linkedin icon"></i>
      </a>
      <a href="https://drive.google.com/file/d/1lMVZAZJ964SfdhH_o-JTivSkZCv2uuLS/view" target="_blank" rel="noopener">
        <i aria-hidden="true" class="fa fa-download icon"></i>
      </a>
    </div>
  </div>
</div>