
.main-conatiner{
    padding-left: 0px;
    padding-right: 0px;
}
.dark-theme-button-container{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
    span {
      padding-right: 10px;
      i{
          color: #ffff;
      }
    }

}

.main-content{
    background-color:black;
    height: 100vh;
    align-items: center;
    padding-top: 15em;
    padding-left: 3em;
}
.portfolio-name {
    color: #ffff;
    font-size: 4em;
    display: inline;
    font-weight: 300 !important;
}
.hola-image{
    padding-left: 10px;
    width: 4.5em;
    height: 4.5em;
}
.protfolio-profile{
  color: #ffff;
  font-size: 2.5em;
  margin: 0px;
  font-weight: 300 !important;
}
.linkedin-link {
    width: 3em;
    height: 3em;
}
.download-resume{
    width: 2em;
    height: 2em;
    padding-bottom: 12px;
    padding-left: 6px;
}
.portfolio-image-conatiner{
    display: inline-flex;
    align-items: center;
    a, i{
        color: azure; 
        font-size: 1.5em;
        padding-right: 12px;
    }
}



  
 
 
 